<form class="ccms-formspree" id="ccms-formspree-form" method="post"
      action="https://formspree.io/caylia@chaikenmusic.com">
  <input type="text" name="_gotcha" style="display:none">
  <input type="hidden" name="_subject" value="Enquiry about Caylia Chaiken Music Studio">
  <input type="hidden" name="_next" value="{{ '/thanks/' | absolute_url }}" />

  <div class="checkbox checkbox-small">
    <input type="checkbox" id="free-piano" name="free-piano" value="YES">
    <label for="free-piano">Free Piano Lesson</label>
  </div>

  <div class="checkbox checkbox-small">
    <input type="checkbox" id="free-voice" name="free-voice" value="YES">
    <label for="free-voice">Free Voice Lesson</label>
  </div>

  <label class="text-input" for="name">Name</label>
  <input type="text" name="Name" id="name" required="">

  <label class="text-input" for="email">Email</label>
  <input type="email" name="Email" id="email" required="">

  <label class="text-input" for="enquiry">What would you like to know?</label>
  <textarea name="Enquiry" id="enquiry" rows="4" required=""></textarea>

  <div class="checkbox">
    <input type="checkbox" id="mail-optin" name="mail-optin" value="YES">
    <label for="mail-optin">Add me to your mailing list. <br>I would love to receive
      <br><b>five life empowering tips</b> <br>to achieve musical success.</label>
  </div>

  <input type="submit" value="Send">

  <p class="no-sharing"><em>I promise I won't share your email address with anybody.</em></p>
</form>