{% if page.camps %}
  {% assign camps = page.camps %}
  {% assign extra-heading = '' %}
{% else %}
  {% assign idol-page = site.pages | where: 'id', 'marin-idol-performance-camps' %}
  {% assign camps = idol-page[0].camps %}
  {% assign extra-heading = 'Marin Idol Performance ' %}
  {% assign more = true %}
{% endif %}

{% if camps %}
{% assign camp-quantity = camps | size %}
<section class="upcoming-camps pattern">
    <h2>Upcoming {{ extra-heading }}{% if camp-quantity > 1 %}Camps{% else %}Camp{% endif %}</h2>
    {% for camp in camps %}
    <div class="camp-register">
    <h3>
      {% include idol-dates.html start_date=camp.start_date end_date=camp.end_date %}
      <span>{{ camp.description }}</span>
    </h3>
    <p>Times: <span>{{ camp.times }}</span></p>
    <p>Days: <span>{{ camp.days }}</span></p>
    <p>Cost: <span>{{ camp.cost }}</span></p>
    <p>{{ camp.eventbrite }}</p>
    </div>
    {% endfor %}
    {% if more %}
    <p><a href="/marin-idol-performance-camps">What is Marin Idol?</a></p>
    {% endif %}
</section>
{% endif %}