{% if page.lessons %}
<section class="lessons">
  {% for lesson in page.lessons %}
  {% capture pattern %}{% cycle 'true', 'false' %}{% endcapture %}
  {% if pattern == 'true' %}
  <div class="lesson pattern">
    <div class="lesson-copy">
      <h2 class="lesson-title">{{ lesson.heading }}</h2>
      <p class="lesson-blurb">{{ lesson.blurb }}</p>
      <a class="lesson-cta" href="{{ lesson.link | relative_url }}/">{{ lesson.cta }} →</a>
    </div>
    <div class="lesson-image-container">
      <img class="lesson-image" src="{{ lesson.image | relative_url }}" alt="">
    </div>
  </div>
  {% else %}
  <div class="lesson">
    <div class="lesson-image-container">
      <img class="lesson-image" src="{{ lesson.image | relative_url }}" alt="">
    </div>
    <div class="lesson-copy">
      <h2 class="lesson-title">{{ lesson.heading }}</h2>
      <p class="lesson-blurb">{{ lesson.blurb }}</p>
      <a class="lesson-cta" href="{{ lesson.link | relative_url }}/">{{ lesson.cta }} →</a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</section>
{% endif %}
