<section class="newsletter-form pattern">
  <form class="ccms-newsletter">
    <h2>Sign up for my Newsletter!</h2>
    <p>And receive five <strong>life empowering tips</strong> to achieve musical success.</p>
  
    <div class="half">
    <label class="text-input" for="first-name">First Name</label>
    <input type="text" name="First Name" id="first-name" required="">
    </div> 

    <div class="half">
    <label class="text-input" for="last-name">Last Name</label>
    <input type="text" name="Last Name" id="last-name" required="">
    </div> 

    <label class="text-input" for="email">Email</label>
    <input id="email" name="email" type="email" value="">

    <input type="submit" value="Sign me up!">
  </form>
</section>
