{% if include.testimonial %}
<section class="testimonial">
  <div class="testimonial-copy">
    {% for line in include.testimonial.text %}
    <p>{{ line }}</p>
    {% endfor %}
  </div>
  <div class="testimonial-ident">
    {% if include.testimonial.avatar-image %}
    <img class="testimonial-avatar" src="{{ include.testimonial.avatar-image | relative_url }}">
    {% else %}
    <span class="testimonial-avatar-missing"><img src="../uploads/trebleclef.gif"></span>
    {% endif %}
    <p class="testimonial-author">{{ include.testimonial.name }}</p>
  </div>
</section>
{% endif %}
