//
//-- Config
//

// colors
$c-primary: #eeeeee;
$c-primary-dark: #bcbcbc;
$c-primary-light: #fefefe;
$c-primary-text: #000000;
$c-secondary: #d32f2f;
$c-secondary-dark: #9a0007;
$c-secondary-light: #ff6659;
$c-secondary-text: #ffffff;

// widths
$smallest-width: 20em;
$very-small-width: 30em;
$small-width: 48em;
$medium-width: 60em;
$large-width: 75em;
$very-large-width: 100em;

$site-width: 75em;

$pattern: '../uploads/swirl_pattern.png';
