//
// Top of the cascade, sort of
//

body {
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;

  header + & {
    .intro {
      border-radius: 10px;
    }
  }

  p a, li a {
    color: $c-secondary;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-repeat: repeat-x;
    background-position: bottom 0 center;
    background-size: 100% 1px;
    transition: all .3s ease;
  
    &:focus, &:hover {
      outline: none;
      background-color: lighten($c-secondary-light, 26%);
      color: $c-secondary-dark;
    }
  }

  nav {
    font-family: $font-body-secondary;
    margin: 2em auto 3em;
    max-width: 800px;
    padding: 0 1em;
    text-align: center;
    p {
      font-size: 18px; font-size: 1.125rem;
      font-style: italic;
    }
    ul {
      list-style: none;
      margin-top: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      font-size: 16px; font-size: 1rem;

      &:not(:last-child)::after {
        content: '/';
        color: $c-primary-dark;
        margin-left: .4em;
      }
    }
  }

  & > p > img { //this should catch images added to pages via siteleaf
    display: block;
    margin: 2em auto;
    max-width: 600px;
    width: 100%;
  }
}

ol, ul {
  list-style-position: outside;
  margin: 1em auto;
  padding-left: 3em;
}
ol { list-style-type: decimal; }
ul { list-style-type: disc; }
li + li {
  margin-top: .5em;
}

.legal ol { list-style-type: upper-alpha; }

blockquote {
  background-color: lighten($c-primary, 3%);
  background: linear-gradient(to left, #FEFEFE, lighten($c-primary, 2%));
  border-left: 4px solid $c-secondary;
  font-size: 20px; font-size: 1.25rem;
  max-width: 700px;
  margin: 2em auto;
  padding: .8em 1em;

  cite {
    display: block;
    font-family: $font-body-secondary;
    font-size: 90%;
    font-weight: bold;
    margin-top: .5em;

    &::before {
      content: '\2014';
    }
  }
}

.vid-wrap {
  margin: 2em auto;
  max-width: 600px;
}
.bandcamp {
  margin: auto;
  max-width: 760px;
  position: relative;
}
.fluid-iframe {
  padding: 56.25% 0 0;
  position: relative;
  width: 100%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.ccms-formspree,
.ccms-newsletter {
  font-size: 1em;
  margin: 1em auto;
  max-width: 760px;
  overflow: hidden;
  padding: 0 1em;
  width: auto; max-width: 600px;

  label {
    display: block;
    font-family: $font-body-secondary;
    font-size: 20px;

    &.text-input {
      margin-top: 1em;
    }

    span {
      position: relative;
      top: 2px;
      left: .2em;
    }
  }

  input,
  textarea {
    background: #fafafa;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #686868;
    font-family: $font-body-secondary;
    margin: .5em 0;
    padding: .5em;
    width: 100%; max-width: 600px;
  }
  textarea {
    margin-bottom: 1em;
  }
  [type="checkbox"] {
    width: auto;
  }
  button,
  [type="submit"] {
    background-color: $c-secondary-dark;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0));
    border: none;
    color: $c-primary;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 1em;
    text-transform: uppercase;
    width: 10rem;
    &:hover {
      background-color: $c-secondary;
    }
  }
  p { padding: 0; }

  @media (min-width: 600px) {
    .half {
      display: inline-block;
      width: 48%;
      &:first-of-type {
        margin-right: 3%;
      }
    }
  }
}
.ccms-formspree {
  margin: 0 auto;
}
.ccms-newsletter {
  p, strong {
    line-height: 1.4;
  }
  p {
    margin: .5em 0;
  }
  .mc-field-group {
    margin-top: 1em;
  }
  [type="submit"] {
    margin-top: 1.5em;
  }
}

.ccms-formspree,
.ccms-newsletter,
.lesson-form {
  [type="text"],
  [type="email"],
  textarea {
    border: 1px solid $c-secondary;
  }
  .no-sharing {
    font-size: 1em;
  }
}
.ccms-newsletter,
.lesson-form {
  background-color: lighten($c-primary, 4%);
  border: 6px solid $c-secondary-dark;
  border-radius: 6px;
  overflow: hidden;
  padding: 1em;
}

.lesson-form {
  input[type="submit"] {
    width: auto;

    @media (max-width: 400px) { font-size: 90%; }
  }
  [for="mail-optin"] span {
    @media (max-width: 400px) { font-size: 88%; }
  }
}

.ccms-formspree,
.lesson-form {
  .checkbox {
    margin-bottom: 1em;
  }
  .checkbox input[type="checkbox"] {
    height: 0;
    opacity: 0;
    width: 0;
  }
  .checkbox label::before,
  .checkbox label::after {
      position: absolute;
  }
  .checkbox label::before {
    border: 1px solid $c-secondary;
    border-radius: 2px;
    content: "";
    display: inline-block;
    top: 3px;
    left: 0;
    
    height: 36px;
    width: 36px;
  }
  .checkbox label::after {
    content: "";
    display: inline-block;
    height: 18px;
    width: 36px;
    border-left: 4px solid;
    border-bottom: 4px solid;
    left: 0px;
    top: 8px;
    -webkit-transform: rotate(-57deg);
    transform: rotate(-57deg);
    -webkit-transform-origin: center;
    transform-origin: center;
  }
  .checkbox label {
    font-size: 18px;
    padding-left: 46px;
    position: relative;

    @media (max-width: 360px) {
      font-size: 15px;
    }
    @media (min-width: 570px) {
      br:nth-of-type(odd) { display: none; }
    }
  }
  /*Hide the checkmark by default*/
  .checkbox input[type="checkbox"] + label::after {
    content: none;
  }
  /*Unhide the checkmark on the checked state*/
  .checkbox input[type="checkbox"]:checked + label::after {
    content: "";
  }
  /*Adding focus styles on the outer-box of the fake checkbox*/
  .checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
  }

  .checkbox.checkbox-small {
    margin: 0;

    label {
      padding-top: 3px;
      padding-left: 36px;
    }

    label::before {
      top: 0;

      height: 26px;
      width: 26px;
    }
    label::after {
      height: 13px;
      width: 26px;
      border-left: 3px solid;
      border-bottom: 3px solid;
      left: 0px;
      top: 4px;
      -webkit-transform: rotate(-57deg);
      transform: rotate(-57deg);
      -webkit-transform-origin: center;
      transform-origin: center;
    }

    & + label {
      margin-top: 1.5em;
    }
  }
}

.address {
  font-family: $font-body-secondary;
  margin: 1.2em auto;
  max-width: 720px;

  span {
    display: block;
  }
  span + span {
    margin-top: .5em;
  }
}